*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(8, 87, 107, 0.65),rgba(75, 73, 73, 0.65)),url(Photographer.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8px;
}
.container ul{
    padding:5px;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 130px;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display: inline-block;
    margin:10px 20px;
    color: white;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(238,78,86);
}

.btn {
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    background-color: rgb(238, 78, 86);
    font-weight: 300;
    cursor: pointer;
    border-radius: 10px;
}
.btn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.btn a:hover{
    color: black;

}
.content{
    margin-top: 5%;
    max-width: 600px;
    color: white;
}
.content h1{
    font-size: 55px;
    font-weight: 495;
    line-height: 60px;
    margin-bottom: 30px;
    
}

.content form{
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
    background: white;

}
.content form input{
    border: 0;
    outline: 0;
    width: 90%;
    font-size: 15px;
    padding-left: 10px;
}
.content form .btn{
    font-size: 15px;
    padding: 10px 30px;
}
p{
    font-size: 18px;
    line-height: 25px;
}
.hero{
    color: rgb(238, 78, 86);
    font-weight: bold;
    margin-right: 50px;
    text-decoration: none;
    cursor: pointer;
}
